In [1]:
import pandas as pd

In [36]:
file_path_2019='raw_data/2019Housing.csv'
file_path_2018='raw_data/2018Housing.csv'
file_path_2017='raw_data/2017Housing.csv'
file_path_2016='raw_data/2016Housing.csv'
file_path_2015='raw_data/2015Housing.csv'
file_path_2014='raw_data/2014Housing.csv'
file_path_2013='raw_data/2013Housing.csv'
file_path_2012='raw_data/2012Housing.csv'
file_path_2011='raw_data/2011Housing.csv'
file_path_2010='raw_data/2010Housing.csv'

In [14]:
#function to transform the raw data
def data_transf_15to19(file_path,year):
    origin_df=pd.read_csv(file_path)
    
    extract_df=origin_df[['GEO_ID','NAME','DP04_0002PE',
                          'DP04_0115PE','DP04_0124PE','DP04_0063E','DP04_0064E','DP04_0065E','DP04_0066E',
                         'DP04_0067E','DP04_0068E','DP04_0069E','DP04_0070E','DP04_0081E','DP04_0082E',
                        'DP04_0083E','DP04_0084E','DP04_0085E','DP04_0086E','DP04_0087E','DP04_0088E','DP04_0089E']]
    
    renamed_df=extract_df.rename(columns={'NAME':'state','DP04_0002PE':'occupied_perc',
                                'DP04_0115PE':'smocapi_35ormore_m_perc',
                                'DP04_0124PE':'smocapi_35more_nm_perc','DP04_0063E':'utilitygas',
                                'DP04_0064E':'bottled_tank','DP04_0065E':'electricity',
                                'DP04_0066E':'fueloil','DP04_0067E':'coal_coke',
                                'DP04_0068E':'wood','DP04_0069E':'solar','DP04_0070E':'other_fuel',
                                'DP04_0081E':'value_50k_less','DP04_0082E':'value_50000to99999',
                                'DP04_0083E':'value_100000to149999','DP04_0084E':'vlaue_150000to199999',
                                'DP04_0085E':'value_200000to299999','DP04_0086E':'value_300000to499999',
                                'DP04_0087E':'value_500000to999999','DP04_0088E':'value_1M_more',
                                'DP04_0089E':'house_median_value'})
    
    renamed_df['year']=year
    renamed_df['date']=f'{year}-01-01'
    
    
    sorted_df=renamed_df.sort_values(by=['GEO_ID'])
    
    #row_df=reindex.loc[['California','Colorado','Connecticut']]
    
    row_df=sorted_df.iloc[1:52,1:]
    
    
    return row_df

In [37]:
final_2019=data_transf_15to19(file_path_2019,2019)
final_2018=data_transf_15to19(file_path_2018,2018)
final_2017=data_transf_15to19(file_path_2017,2017)
final_2016=data_transf_15to19(file_path_2016,2016)
final_2015=data_transf_15to19(file_path_2015,2015)

In [38]:
def data_transf_10to14(file_path,year):
    origin_df=pd.read_csv(file_path)
    
    extract_df=origin_df[['GEO_ID','NAME','DP04_0002PE',
                          'DP04_0113PE','DP04_0122PE','DP04_0062E','DP04_0063E','DP04_0064E',
                          'DP04_0065E','DP04_0066E','DP04_0067E','DP04_0068E','DP04_0069E','DP04_0080E',
                          'DP04_0081E','DP04_0082E','DP04_0083E','DP04_0084E','DP04_0085E',
                          'DP04_0086E','DP04_0087E','DP04_0088E']]
    
    renamed_df=extract_df.rename(columns={'NAME':'state','DP04_0002PE':'occupied_perc',
                                'DP04_0113PE':'smocapi_35ormore_m_perc',
                                'DP04_0122PE':'smocapi_35more_nm_perc','DP04_0062E':'utilitygas',
                                'DP04_0063E':'bottled_tank','DP04_0064E':'electricity',
                                'DP04_0065E':'fueloil','DP04_0066E':'coal_coke',
                                'DP04_0067E':'wood','DP04_0068E':'solar','DP04_0069E':'other_fuel',
                                'DP04_0080E':'value_50k_less','DP04_0081E':'value_50000to99999',
                                'DP04_0082E':'value_100000to149999','DP04_0083E':'vlaue_150000to199999',
                                'DP04_0084E':'value_200000to299999','DP04_0085E':'value_300000to499999',
                                'DP04_0086E':'value_500000to999999','DP04_0087E':'value_1M_more','DP04_0088E':'house_median_value'})
    
    renamed_df['year']=year
    renamed_df['date']=f'{year}-01-01'
    sorted_df=renamed_df.sort_values(by=['GEO_ID'])
    
    #row_df=reindex.loc[['California','Colorado','Connecticut']]
    
    row_df=sorted_df.iloc[1:52,1:]
    
    
    return row_df

In [39]:
final_2014=data_transf_10to14(file_path_2014,2014)
final_2013=data_transf_10to14(file_path_2013,2013)
final_2012=data_transf_10to14(file_path_2012,2012)
final_2011=data_transf_10to14(file_path_2011,2011)
final_2010=data_transf_10to14(file_path_2010,2010)

In [40]:
merged_df=pd.concat([final_2019,final_2018,final_2017,final_2016,final_2015,final_2014,final_2013,final_2012,final_2011,final_2010])
final_df=merged_df.reset_index(drop=True)

state_code_df=pd.read_csv("raw_data/states-code.csv")
state_codes=state_code_df.rename(columns={'State':'state','Abbrev':'abbrev','Code':'code'})

left_join=pd.merge(final_df,state_codes,on='state',how='left')
left_join['primary_key']=left_join['code']+'_'+left_join['year'].astype(str)

In [41]:
left_join

,state,occupied_perc,smocapi_35ormore_m_perc,smocapi_35more_nm_perc,utilitygas,bottled_tank,electricity,fueloil,coal_coke,wood,...,value_200000to299999,value_300000to499999,value_500000to999999,value_1M_more,house_median_value,year,date,abbrev,code,primary_key
0,Alabama,83.0,17.4,7.4,502880,106166,1260266,2384,666,16377,...,236050,148026,55368,10849,154000,2019,2019-01-01,Ala.,AL,AL_2019
1,Alaska,78.8,20.3,9.1,122448,4879,30611,77795,1024,12171,...,45631,55558,16338,1309,281200,2019,2019-01-01,Alaska,AK,AK_2019
2,Arizona,86.8,19.3,8.8,877561,75036,1614900,2905,373,50942,...,499974,455448,175706,38417,255900,2019,2019-01-01,Ariz.,AZ,AZ_2019
3,Arkansas,83.8,16.0,6.8,450216,78170,588621,638,67,39897,...,121982,66060,20980,5736,136200,2019,2019-01-01,Ark.,AR,AR_2019
4,California,91.6,28.5,11.6,8469893,426530,3497610,30373,1717,181624,...,664558,1800185,2792052,1316878,568500,2019,2019-01-01,Calif.,CA,CA_2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,Virginia,88.8,25.4,9.5,1027967,138687,1514678,208176,3242,83925,...,478667,469334,280134,43628,249100,2010,2010-01-01,Va.,VA,VA_2010
506,Washington,90.2,30.3,10.8,924131,84272,1384990,73380,304,115190,...,457298,456593,206915,36840,271800,2010,2010-01-01,Wash.,WA,WA_2010
507,West Virginia,84.1,18.6,6.7,317757,35512,302804,28559,5609,46066,...,63360,25368,5653,2999,95100,2010,2010-01-01,W.Va.,WV,WV_2010
508,Wisconsin,86.8,25.7,11.9,1488259,250022,320964,81908,308,106608,...,363355,176687,49405,10163,169400,2010,2010-01-01,Wis.,WI,WI_2010
509,Wyoming,84.9,19.9,6.0,142370,22173,42659,922,906,11071,...,38232,17281,6739,3073,180100,2010,2010-01-01,Wyo.,WY,WY_2010

In [42]:
left_join.columns

Index(['state', 'occupied_perc', 'smocapi_35ormore_m_perc',
       'smocapi_35more_nm_perc', 'utilitygas', 'bottled_tank', 'electricity',
       'fueloil', 'coal_coke', 'wood', 'solar', 'other_fuel', 'value_50k_less',
       'value_50000to99999', 'value_100000to149999', 'vlaue_150000to199999',
       'value_200000to299999', 'value_300000to499999', 'value_500000to999999',
       'value_1M_more', 'house_median_value', 'year', 'date', 'abbrev', 'code',
       'primary_key'],
      dtype='object')

In [43]:
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float

from sqlalchemy.orm import Session,sessionmaker

In [44]:
# create your class
class USHOUSING(Base):
    __tablename__ = 'ushousing_10to19'
    __table_args__ = {'extend_existing': True}
    state = Column(String)
    occupied_perc = Column(Float)
    smocapi_35ormore_m_perc = Column(Float)
    smocapi_35more_nm_perc = Column(Float)
    utilitygas = Column(Integer)
    bottled_tank = Column(Integer)
    electricity = Column(Integer)
    fueloil = Column(Integer)
    coal_coke = Column(Integer)
    wood = Column(Integer)
    solar = Column(Integer)
    other_fuel = Column(Integer)
    value_50k_less = Column(Integer)
    value_50000to99999 = Column(Integer)
    value_100000to149999 = Column(Integer)
    vlaue_150000to199999 = Column(Integer)
    value_200000to299999 = Column(Integer)
    value_300000to499999 = Column(Integer)
    value_500000to999999 = Column(Integer)
    value_1M_more = Column(Integer)
    house_median_value = Column(Integer)
    year = Column(Integer)
    date = Column(String)
    abbrev = Column(String)
    code= Column(String(225))
    primary_key = Column (String(225),primary_key=True)

In [45]:
database_path = "ushousing_db.sqlite"
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [46]:
# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
# Create (if not already in existence) the tables associated with our classes.
Base.metadata.create_all(engine)

# Use this to clear out the db
# ----------------------------------
#Base.metadata.drop_all(engine)

In [48]:
Session = sessionmaker(bind=conn)
session = Session()
session.bulk_insert_mappings(USHOUSING, left_join.to_dict(orient="records"))
session.commit()
session.close()

In [50]:
left_join.to_csv('final_dataset_101520.csv',index=False)